<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>404 HTML Template by Colorlib</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700"
      rel="stylesheet"
    />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/styleerror.css" />
  </head>

  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>Oops!</h1>
          <h2>404 - The Page can't be found</h2>
        </div>
        <a href="/">Go TO Homepage</a>
      </div>
    </div>
  </body>
</html>
