<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Background 1 -->
    <div class="background-1">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-50">
        <div class="container-fluid col-12">
          <a href="" class="navbar-brand col-2 text-center fw-bold text-logo"
            >LOGO</a
          >
          <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul
              class="navbar-nav col-5 d-flex justify-content-evenly align-items-center"
            >
              <li class="nav-item"><a href="" class="nav-link">HOME</a></li>
              <li class="nav-item"><a href="" class="nav-link">WORK</a></li>
              <li class="nav-item"><a href="" class="nav-link">CONTACT</a></li>
              <li class="nav-item"><a href="" class="nav-link">ABOUT ME</a></li>
            </ul>

            <ul
              class="navbar-nav col-6 d-flex justify-content-end align-items-center"
            >
              <li class="nav-item"><a href="" class="nav-link">SIGN UP</a></li>
              <li class="nav-item">
                <a href="/login" class="nav-link">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End navbar  -->
      <!-- content -->
      <div
        class="d-flex content-height flex-column col-10 mx-auto align-items-center justify-content-between"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-center content-1"
        >
          <h1 class="text-white fw-bold text-h1 mb-4 text-center">
            PLAY TRADITIONAL GAME
          </h1>
          <h5 class="text-white fw-regular mb-4">
            Experience new traditional game play
          </h5>
          <button class="btn btn-warning fw-bold col-3 height-button mb-5">
            <a href="/game">PLAY NOW</a>
          </button>
        </div>
        <div class="d-flex flex-column align-items-center position-relative">
          <p class="story text-light">THE STORY</p>
          <button class="btn btn-link"><div class="scroll-down"></div></button>
        </div>
      </div>

      <!-- End content -->
    </div>
    <!-- End Background 1 -->

    <!-- Background 2  -->
    <div class="background-2">
      <div class="container col-12 content2-spacing">
        <!-- Text Content 1 -->
        <div><h4 class="text-light">What's so special ?</h4></div>
        <!-- End Text Content 1 -->
        <div class="d-flex mt-4">
          <!-- Text Content 2 -->
          <div class="text-game text-light align-items-start">THE GAMES</div>
          <!-- End Text Content 2 -->

          <!-- Rock Paper  -->
          <div class="d-flex group-rock justify-content-end">
            <!-- button left -->
            <button class="btn btn-link">
              <div class="switch-left"></div>
            </button>
            <!-- End button left -->
            <div class="rockpaper">
              <div class="child-rockpaper">
                <div class="bullet-on"></div>
                <div class="bullet-off"></div>
                <div class="bullet-off"></div>
                <div class="bullet-off"></div>
                <div class="bullet-off"></div>
              </div>
            </div>
            <!-- button right -->
            <button class="btn btn-link">
              <div class="switch-right"></div>
            </button>
            <!-- End button right -->
          </div>
          <!-- End Rock Paper -->
        </div>
      </div>
    </div>
    <!-- End Background 2 -->

    <!-- Background 3  -->
    <div class="background-3 d-flex flex-column justify-content-center">
      <!-- Background 3 Content 1 -->
      <div class="content-3 d-flex justify-content-center">
        <div
          class="container d-flex flex-column align-items-end justify-content-start col-7"
        >
          <div class="col-5 d-flex flex-column mb-10">
            <p class="text-light">What's so special ?</p>
            <h1 class="features-text text-light">FEATURES</h1>
          </div>
          <!-- Close Background 3 content 1 -->

          <!-- Background 3 content 2 -->
          <div class="col-5 d-flex flex-row">
            <div class="col-2 position-relative">
              <div class="bullet-on"></div>
              <div class="line"></div>
              <div class="bullet-off bullet-off-style"></div>
              <div class="bullet-off mt-3"></div>
            </div>
            <div class="col-12">
              <p class="text-content-p-1 text-warning">TRADITIONAL GAMES</p>
              <p class="text-content-p-2 text-light">
                If you miss your childhood, we provide many traditional games
                here
              </p>
              <p class="text-content-p-3 text-warning">GAME SUIT</p>
              <p class="text-content-p-4 text-warning">TBD</p>
            </div>
          </div>
          <!-- CLose Background 3 content 2 -->
        </div>
      </div>
    </div>
    <!-- End Background 3 -->

    <!-- Background 4 -->
    <div class="background-4">
      <div class="container col-12 bg-4 d-flex flex-column">
        <!-- Background 4 content 1 -->
        <div class="d-flex justify-content-center text-light pb-5">
          Can My Computer Run this game?
        </div>
        <!-- Close Background 4 content 1 -->

        <!--  Background 4 content 2 -->
        <div class="text-light system-text col-5">SYSTEM REQUIREMENTS</div>
        <!-- Close Background 4 content 2 -->

        <!-- Background 4 content 3 -->
        <div
          class="d-flex flex-column align-items-center justify-content-center col-6"
        >
          <table class="table table-bordered border-secondary">
            <tbody class="">
              <tr>
                <td class="text-warning title-text col-5">
                  OS :
                  <p class="text-light subtitle-text">
                    Windows 7 64-bit only (No OSX support at this time)
                  </p>
                </td>
                <td class="text-warning title-text col-5">
                  PROCESSOR :
                  <p class="text-light subtitle-text">
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                  </p>
                </td>
              </tr>
              <tr>
                <td class="text-warning title-text col-5">
                  MEMORY
                  <p class="text-light subtitle-text">4 GB RAM</p>
                </td>
                <td class="text-warning title-text col-5">
                  STORAGE
                  <p class="text-light subtitle-text">8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-warning title-text">
                  GRAPHICS:
                  <p class="text-light subtitle-text">
                    NVIDIA GeForce GTX 660 2GB or<br />
                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Close Background 4 content 3 -->
      </div>
    </div>
    <!-- Close Background 4 -->

    <!-- Background 5 -->
    <div class="background-5">
      <div
        class="container bg5-height col-12 d-flex justify-content-between align-items-center"
      >
        <div class="top-score d-flex flex-column justify-content-center col-5">
          <h1 class="text-light">TOP SCORES</h1>
          <p class="text-light mt-3">
            this top scene from various games provided on this platform
          </p>
          <button class="btn btn-warning col-5 fw-bold mt-3">see more</button>
        </div>
        <div
          class="card-component col-7 d-flex flex-column justify-content-around align-items-end"
        >
          <div class="card col-7 bg-card rounded">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div
                class="d-flex col-7 justify-content-start align-items-center"
              >
                <div class="image-header-1"></div>
                <div class="header-name">
                  <div class="name-text-card text-warning">Evan Lahti</div>
                  <div class="profession">Pc Gamer</div>
                </div>
              </div>
              <div class="logo-card-1 d-flex mt-2"></div>
            </div>
            <div>
              <p class="mt-3 ms-3 text-light">
                “One of my gaming highlights of the year.”
              </p>
              <p class="ms-3">June 18, 2021</p>
            </div>
          </div>
          <div class="card col-7 bg-card rounded mr-20">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div
                class="d-flex col-7 justify-content-start align-items-center"
              >
                <div class="image-header-1"></div>
                <div class="header-name">
                  <div class="name-text-card text-warning">Jada Griffin</div>
                  <div class="profession">Nerdreactor</div>
                </div>
              </div>
              <div class="logo-card-1 d-flex mt-2"></div>
            </div>
            <div>
              <p class="mt-3 ms-3 text-light">
                “The next big thing in the world of streaming and survival
                games.”
              </p>
              <p class="ms-3">July 10, 2021</p>
            </div>
          </div>
          <div class="card col-7 bg-card rounded">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <div
                class="d-flex col-8 justify-content-start align-items-center"
              >
                <div class="image-header-1"></div>
                <div class="header-name">
                  <div class="name-text-card text-warning">Aaron Williams</div>
                  <div class="profession">Uproxx</div>
                </div>
              </div>
              <div class="logo-card-1 d-flex mt-2"></div>
            </div>
            <div>
              <p class="mt-3 ms-3 text-light">
                “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                Ridiculous.”
              </p>
              <p class="ms-3">December 24, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Close Background 5 -->

    <!-- Background 6 -->
    <div class="background-6">
      <div class="container">
        <div class="bg-6 d-flex justify-content-end align-items-center">
          <div class="image-newsletter"></div>
          <div class="text-content-bg6 col-7 ms-5">
            <h5 class="col-3 text-bg6-1 text-light">Want to stay in touch ?</h5>
            <h1 class="col-5 text-bg6-2 text-light">NEWSLETTER SUBSCRIBE</h1>
            <p class="col-11 text-bg6-3 text-light">
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <form class="d-flex justify-content-between col-11">
              <div class="form-bg6 d-flex flex-column bg-form col-6">
                <label for="" class="ms-3 text-secondary"
                  >Your Email Address</label
                >
                <input
                  type="email"
                  class="ms-3 text-warning"
                  placeholder="youremail@binar.co,id"
                />
              </div>
              <button class="btn btn-warning col-5 p-2 fw-bold me-4">
                subscribe now
              </button>
            </form>
          </div>
        </div>
        <div
          class="menu-footer d-flex justify-content-end align-items-center pt-5 pb-3"
        >
          <ul class="d-flex col-9 justify-content-end align-items-center gap-5">
            <li><a href="">MAIN</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">GAME FEATURES</a></li>
            <li><a href="">SYSTEM REQUIREMENTS</a></li>
            <li><a href="">QUOTES</a></li>
          </ul>
          <ul class="d-flex col-3 justify-content-evenly align-items-center">
            <li>
              <a href=""><img src="assets/facebook.svg" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="assets/twitter.svg" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="assets/Vector.svg" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="assets/twitch.svg" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="border border-bottom-0 border-secondary"></div>
        <div class="d-flex justify-content-between">
          <div class="footer-copyright mt-3 text-light">
            <p>&copy; 2022 Your Games, Inc. All Rights Reserved</p>
          </div>
          <div class="menu-footer mt-2">
            <ul class="d-flex">
              <li><a href="">Privacy Policy|</a></li>
              <li><a href=""> Terms of Services|</a></li>
              <li><a href=""> Code of Conduct</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Close Background 6 -->
  </body>
</html>
