* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper {
  background-color: #9c835f;
  height: 100vh;
}
.nav {
  height: 90px;
}

.rock-image {
  background-image: url(../assets/batu.png);
  background-size: 120px;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  background-position: center;
}
.hand-selected {
  background-color: rgba(196, 196, 196, 1);
  border-radius: 10px;
}
.ptt {
  padding-top: 30px;
}
.text-vs {
  font-size: 100px;
  font-weight: 700;
  color: rgba(189, 0, 0, 1);
  letter-spacing: 10px;
}
.text-winner {
  background-color: rgba(76, 150, 84, 1);
  height: 130px;
  width: 40px;
  border-radius: 20px;
  transform: rotate(10deg);
  font-size: 50px;
  font-weight: 700;
  color: white;
  letter-spacing: 5px;
  text-align: center;
}
.paper-image {
  background-image: url(../assets/kertas.png);
  background-size: 90px;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  background-position: center;
}
.scissor-image {
  background-image: url(../assets/gunting.png);
  background-size: 100px;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
  background-position: center;
}

#scissor:hover,
#rock:hover,
#paper:hover {
  transform: rotate(30deg);
}
.text-title {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 700;
}
.back-arrow {
  background-image: url(../assets/_.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  height: 40px;
}
.refresh {
  background-image: url(../assets/refresh.png);
  background-repeat: no-repeat;
  background-size: 80px;
  height: 80px;
  background-position: center;
  width: 80px;
}
.refresh,
.rock-image,
.paper-image,
.scissor-image {
  cursor: pointer;
}

.logo {
  background-image: url(../assets/logo\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  height: 60px;
  width: 60px;
}
.text-logo {
  font-size: 36px;
  font-weight: 700;
  color: rgba(249, 178, 61, 1);
}
