.background-1 {
  background-image: url('../assets/main-bg.jpg');
  background-size: cover;
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}

.background-2 {
  background-image: url('../assets/the-games-bg.jpg');
  background-size: cover;
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}

.background-3 {
  background-image: url('../assets/features.jpg');
  background-size: cover;
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}
.background-4 {
  background-image: url('../assets/requirements.png');
  background-size: cover;
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}

.background-5 {
  background-color: rgba(0, 0, 0);
  background-image: url(../assets/bg\ image\ 5.png);
  background-size: cover;
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}
.background-6 {
  background-color: rgb(8, 10, 11);
  height: 128vh;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-4 {
  height: 90%;
  padding-top: 12%;
}
.text-logo {
  font-size: 24px;
  letter-spacing: 3px;
}

.text-h1 {
  font-size: 72px;
  letter-spacing: 5px;
}
.nav-link {
  color: white !important;
  font-size: 12px;
  font-weight: bold;
}

.content-height {
  margin-top: 300px;
  height: 600px;
}
.height-button {
  height: 60px;
}

.story {
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
}
.scroll-down {
  background-image: url('../assets/scroll-down.svg');
  height: 23px;
  background-repeat: no-repeat;
  width: 23px;
  z-index: 1;
  position: relative;
}

.content2-spacing {
  padding-top: 200px;
}

.rockpaper {
  background-image: url('../assets/rockpaperstrategy-1600.jpg');
  /* background-size: cover; */
  background-size: 900px 477px;
  background-repeat: no-repeat;
  height: 477px;
  width: 858px;
  background-position: right;
}
.text-game {
  font-size: 56px;
  margin-right: 12px;
  letter-spacing: 5px;
  line-height: 0.6;
  position: absolute;
}
.group-rock {
  width: 99%;
}

.switch-left {
  background-image: url('../assets/switch-left.svg');
  height: 40px;
  width: 24px;
  background-repeat: no-repeat;
}
.switch-right {
  background-image: url('../assets/switch-right.svg');
  height: 40px;
  width: 24px;
  background-repeat: no-repeat;
}
.child-rockpaper {
  position: relative;
  height: 100%;
  width: 30%;
  margin: 0 33%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.bullet-on {
  background-image: url('../assets/bulletOn.svg');
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.bullet-off {
  background-image: url('../assets/bulletOf.svg');
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}
.line {
  background-image: url('../assets/line.svg');
  height: 9rem;
  width: 24px;
  background-repeat: no-repeat;
  margin-left: 0.35rem;
  margin-top: -10px;
}

.content-3 {
  height: 500px;
}
.features-text {
  line-height: 10px;
  letter-spacing: 10px;
  font-weight: 400;
}

.text-traditional {
  font-size: 24px;
  letter-spacing: 2px;
}
.bullet-off-style {
  position: absolute;
  top: 153px;
  left: 0px;
}

.mb-4 {
  margin-bottom: 9rem;
}
.mb-10 {
  margin-bottom: 6rem;
}
.mt-4 {
  margin-bottom: -4rem;
}

.text-content-p-2 {
  height: 98px;
}
.text-content-p-1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  /* line-height: 15px; */
  margin-top: -10px;
  height: 15px;
}
.text-content-p-3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  /* line-height: 30px; */
}
.text-content-p-4 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 50px;
}

.system-text {
  font-size: 56px;
}

.title-text {
  font-size: 24px;
}

.subtitle-text {
  font-size: 18px;
}
.pb-5 {
  padding-bottom: 3%;
}
.bg5-height {
  height: 120vh;
}

.top-score {
  height: 100vh;
}

.card-component {
  height: 100%;
}

.card {
  height: 250px;
}

.image-header-1 {
  background-image: url(assets/image1.svg);
  height: 72px;
  width: 72px;
  background-repeat: no-repeat;
}

.logo-card-1 {
  background-image: url(assets/logo-card.svg);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

.name-text-card {
  font-size: 24px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  margin-bottom: -10px;
}
.bg-card {
  background-color: #3a3a3a;
}

.mr-20 {
  margin-right: 8rem;
}
.image-newsletter {
  background-image: url(assets/bg-newsletter.png);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.bg-6 {
  height: 100%;
  width: 100%;
}
.text-bg6-1 {
  font-size: 24px;
}
.text-bg6-2 {
  font-size: 65px;
  letter-spacing: 3px;
}
.text-bg6-3 {
  font-size: 18px;
}
.bg-form {
  background-color: rgba(151, 151, 151, 8%);
  border-radius: 5px;
}
.bg-form input[type='email'] {
  border: none;
  background-color: transparent;
  outline: none;
}
.bg-form input[type='email']::placeholder {
  color: #ffc107;
}

.menu-footer ul {
  list-style: none;
}

.menu-footer li a {
  text-decoration: none;
}
.menu-footer a {
  color: white;
  font-size: 12px;
}

.footer-copyright {
  font-size: 14px;
}
